@font-face {
    font-family: 'Toughwall';
    src: url("../assets/fonts/toughwall.ttf") format("truetype");
}

@font-face {
    font-family: 'PlayerOne';
    src: url("../assets/fonts/player_one.ttf") format("truetype");
}

* {
    margin: auto;
    box-sizing: border-box;
}

body {
    background: url("assets/noise.svg"), url("assets/bg.svg");
    background-size: cover;
    z-index: -2;
    
    font-size: 18px;

    font-family: Manrope, Manrope-Fallback, Arial, sans-serif;
    font-weight: bold;
}

.background-color {
    background: rgba(56, 156, 45, 0.9);
    transition: background 3s;
    z-index: -1;

    height: 100vh;
    width: 100vw;
    
    position: absolute;
}

main {
    width: 100vw;
    height: 90vh;
    
    font-family: Manrope, Manrope-Fallback, Arial, sans-serif;
    font-weight: bold;
}

header, footer {
    width: 100vw;
    height: 5vh;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bbbbbb44;

    text-shadow: 0 0 10px #41414144;
    box-shadow: 0 0 20px #ffffff86;
    backdrop-filter: blur(3px) brightness(110%) contrast(80%);
}